#  Racial Segregation in US Cities Report
**By Siddhant Oswal | Division B**

In [1]:
# Setup
import pandas as pd

In [2]:
# Importing the dataset
chicago_df = pd.read_csv("data/data/prepped/chicago_race.csv")

#Printing the dataset
chicago_df

,GEOID,GEO.display.label,pop,pop.white,pop.not.white,pct.white,pct.not.white
0,17031010201,17031010201,6450,2312,4138,0.358450,0.641550
1,17031010202,17031010202,2818,1237,1581,0.438964,0.561036
2,17031010300,17031010300,6236,3267,2969,0.523894,0.476106
3,17031010400,17031010400,5042,3341,1701,0.662634,0.337366
4,17031010503,17031010503,2290,1452,838,0.634061,0.365939
...,...,...,...,...,...,...,...
1214,18089030700,18089030700,2064,534,1530,0.258721,0.741279
1215,18089030800,18089030800,4272,1513,2759,0.354167,0.645833
1216,18089030900,18089030900,3575,1097,2478,0.306853,0.693147
1217,18089031000,18089031000,1560,210,1350,0.134615,0.865385
1218,18089040100,18089040100,1474,1148,326,0.778833,0.221167

# Diversity ratio

In [3]:
total_white_people = chicago_df["pop.white"].sum()
print("White people pop = " +str(total_white_people))

total_non_white_people = chicago_df["pop.not.white"].sum()
print("Non-white prople pop = "+str(total_non_white_people))      

diversity_ratio = total_white_people/total_non_white_people
print("The diversity ratio is : " + str(diversity_ratio))

White people pop = 2513996
Non-white prople pop = 2134618
The diversity ratio is : 1.1777264128757463

# Interaction index

In [4]:
total_minority_pop = chicago_df["pop.not.white"].sum()
chicago_df["interaction_index"] = (chicago_df["pop.not.white"] / total_minority_pop) * (chicago_df["pop.white"]/chicago_df["pop"])
chicago_df.head()

,GEOID,GEO.display.label,pop,pop.white,pop.not.white,pct.white,pct.not.white,interaction_index
0,17031010201,17031010201,6450,2312,4138,0.358450,0.641550,0.000695
1,17031010202,17031010202,2818,1237,1581,0.438964,0.561036,0.000325
2,17031010300,17031010300,6236,3267,2969,0.523894,0.476106,0.000729
3,17031010400,17031010400,5042,3341,1701,0.662634,0.337366,0.000528
4,17031010503,17031010503,2290,1452,838,0.634061,0.365939,0.000249

In [5]:
interaction_index_chicago = chicago_df["interaction_index"].sum()
interaction_index_chicago

0.33621530101878605

# Calculate the Interaction index for all US cities

In [6]:
import os

In [7]:
city_file_name_list = os.listdir("data/data/prepped")

In [8]:
city_file_name_list

['baltimore_race.csv',
 'charleston_race.csv',
 'chicago_race.csv',
 'columbus_race.csv',
 'dayton_race.csv',
 'denver_race.csv',
 'kc_race.csv',
 'memphis_race.csv',
 'milwaukee_race.csv',
 'ok_city_race.csv',
 'pittsburgh_race.csv',
 'st_louis_race.csv',
 'syracuse_race.csv',
 'wichita_race.csv']

In [43]:
def print_city_interation_index():
    city_file_name_list = os.listdir("data/data/prepped/")
    
    for city_names in city_file_name_list:
        
        city_df = pd.read_csv("data/data/prepped/"+city_names)
        
        total_minority_pop = chicago_df["pop.not.white"].sum()
        
        city_df["interaction_index"] = (city_df["pop.not.white"] / total_minority_pop) * (city_df["pop.white"]/city_df["pop"])
        
        interaction_index = city_df["interaction_index"].sum()
        
        print(city_names.capitalize().replace("_race.csv", ""), " : ", interaction_index)

In [44]:
print_city_interation_index()

Baltimore  :  0.013359092544132627
Charleston  :  0.37206746817570885
Chicago  :  0.33621530101878605
Columbus  :  0.09748767915394775
Dayton  :  0.04202063985716865
Denver  :  0.19558281757835597
Kc  :  0.12589072014503302
Memphis  :  0.29170054708115506
Milwaukee  :  0.08438208030916368
Ok_city  :  0.10122606385428407
Pittsburgh  :  0.07504269251620427
St_louis  :  0.12920314966767957
Syracuse  :  0.028713502037955446
Wichita  :  0.03667580609138098